<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new-room">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Room</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booked-rooms">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Booked Rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="created-rooms">
      <ion-icon name="book"></ion-icon>
      <ion-label>Created Rooms</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
